#### Assignment 1-Day 2

 1.Try 5 Different functions of the String in python
 for ex- index,split function

In [1]:
# 1. Count() Functions
# Find the number of times a specified value occurs
text1 = "I like chess and chess is my favorite indoor game"
text1.count("chess")

2

In [2]:
# 2. endswith() Functions
# If the string ends with the specified value,True
text2 ="Python is a powerful programming language."
text2.endswith("")

True

In [3]:
# 3.isdigit()
# Check all the characters in the text are digits
txt3 ='02356'
txt3.isdigit()

True

In [4]:
# 4.istitle()
# Check the each word start with an upper case
txt4 = "Hi All, Welcome To Python Code"
txt4.istitle()

True

In [5]:
# rfind()
txt5 = "high level data structures."
txt5.rfind("str")

16

#### Assignment 2-Day 2

2.Try 5 differnet functions of the list object in python

In [6]:
# 1.Sort()
# Sort the list ascending order
lst1 = ["Mumbai", "Pune", "Delhi", "Thane","bangalore"]
lst1.sort()
lst1

['Delhi', 'Mumbai', 'Pune', 'Thane', 'bangalore']

In [7]:
# 2.join()
# join the lists.
lst2 = ["a", "b", "c"]
lst3 = [1, 2, 3]
lst4 = lst2 + lst3
lst4

['a', 'b', 'c', 1, 2, 3]

In [8]:
# 3.Remove()
# remove the items
lst1 = ["Mumbai", "Pune", "Delhi", "Thane","bangalore"]
lst1.remove("Pune")
lst1

['Mumbai', 'Delhi', 'Thane', 'bangalore']

In [9]:
# 4. pop()
# Removes the element at the specified position
lst5 = ['apple', 'banana', 'cherry']
lst5.pop(1)
lst5

['apple', 'cherry']

In [10]:
# reverse()
# reverses the sorting order of the elements
lst6 = ["Car", "Van", "Bus", "Lorry","Minivan"]
lst6.reverse()
lst6

['Minivan', 'Lorry', 'Bus', 'Van', 'Car']

#### Assignment 3 Day2

3.Experiment with atleast 5 default functions of dict

In [11]:
# 1.items()
CarModel = {"Brand": "Kia","model": "Sonet","year":2019}
CarModel.items()
CarModel['year']=2020
CarModel

{'Brand': 'Kia', 'model': 'Sonet', 'year': 2020}

In [12]:
# 2.pop()
CarModel = {"Brand": "Kia","model": "Sonet","year":2019}
CarModel.pop('model')
CarModel

{'Brand': 'Kia', 'year': 2019}

In [13]:
# 3.update
CarModel = {"Brand": "Kia","model": "Sonet","year":2019}
CarModel.update({"color":"Red"})
CarModel

{'Brand': 'Kia', 'model': 'Sonet', 'year': 2019, 'color': 'Red'}

In [14]:
# 4.values()
CarModel = {"Brand": "Kia","model": "Sonet","year":2019}
CarModel.values()
CarModel["year"] = 2018
CarModel

{'Brand': 'Kia', 'model': 'Sonet', 'year': 2018}

In [15]:
# 5.Clear()
# Remove all elements from the list
CarModel = {"Brand": "Kia","model": "Sonet","year":2019}
CarModel.clear()
CarModel

{}